:root{
    --background: #111621;
    --box-color: #222B3E;
    --active-color:#4C5C75;
    --text-color: #45AC75;
    --card: #222B3E69;
    --search-color: #222B3E;

}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    background-color: #111621;
    margin:6rem  2rem;
}
nav ul{
    position: absolute;
    left: 0;
    top: 0;
    list-style-type: none;
    padding: 15px 15px;
    width: 100%;
    margin: 0;
    background-color: #0D0E12;
}
.algogrid{
    text-align: center;
}
.algotext{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: var(--text-color);
}
.algobutton button{
    background: #45AC75;
    color: white;
    border: 1px solid #45AC75;
    padding: 12px 38px;
    border-radius: 7px;
    font-family: Poppins;
    font-size: 17px;
    margin-bottom:22px ;
}
.algocards{
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: 'poppins';
    font-size: 18px;
    margin-bottom: 50px;
}

.algono{
    background-color: var(--card);
    width: 104px;
    padding: 20px 0;
    border-radius: 14px;
    font-family:Roboto;
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}
.algosearch input{
    color: rgba(255, 255, 255, 0.712);
    width: 100%;
    background-color: var(--search-color);
    border: 1px solid #3A404D;
    border-radius: 28px;
    font-size: 18px;
    padding: 12px 0 9px 28px;
}
.algosearch img{
    position: absolute;
    right: 40px;
    margin-top: 10px;
}
.attext{
    color: white;
    font-family: "poppins";
    background-color:  #222B3E;
    margin-top: 32px;
    padding: 19px;
    border-radius: 11px;
    margin-bottom: 10px;
}
.subcontainer{
    color: white;
    background-color: #222B3E;
    border: 2px solid #45AC75;
    font-family: 'poppins';
    padding: 1.5em;
    border-radius: 11px;
    display: grid;
    margin: 24px 0;
}
.rowx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    flex-wrap: wrap;
}
.algosearch p{
    display: none;
}
.algosearch button{
    display: none;
}


.row{
    display:flex;
    justify-content: space-between;
    
    padding: 5px 0;
    font-size: 19px;
}
.rowd{
    display:flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 19px;
}


#ttext{
position: relative;
bottom: 20px;
left: 10px;
}
.svg{
    margin-left: 27px;
    
}
.svg-T p{
    position: relative;
    bottom: 14px;
}
.active{
    background-color: var(--active-color);
    padding: 8px 13px;
    border-radius: 5px;
}
.active img{
    position: relative;
    top: 3px;
    right: 5px;
}
.vote{
    font-family: 'poppins';
    font-size: 19.36px;
    color: white;
    background-color:  #45AC75;
    border: 2.23px solid #45AC75;
    border-radius: 10px 0px 0 10px ;
    padding: 5px 5px 5px 10px;
}
#voteno{
    position: relative;
    right: 6px;
    border: 2.23px solid #45AC75;
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    padding: 6px 10px 6px 10px ;
}
@media all and (min-width:500px){
    body{
        margin: 6rem 1.5rem;
    }
    .rows{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .rowx{
        font-size: 19px;
    }
    .subcontainer{
        padding: 0 50px;
    }
    .row span{
        padding: 0 15px;
        margin-bottom: 20px;
    }
    .svg{
       margin-top: 20px;
    }
   

}
@media all  and (min-width:800px) {
    section{
        margin-top: 10rem;
    }
    .algosearch{
        display: flex;
        width: 100%;
        background-color:  #E7E7E7;
        align-items: baseline;
        
        padding: 30px 50px 20px 50px ;
    }
    .algosearch input{
     color: #333232d2;
    width: 250px;
    background-color:  #E7E7E7;
    border-radius: 4px;
    font-size: 13px;
    padding: 6px 8px;
    border: 1px solid #111621;
    margin-left: auto;
    
    }
    .algosearch img{
        z-index: 2;
        margin-top: 15px;
        right: 80px;
        

    }
    .algosearch p{
        display: inline;
        font-family: Poppins;
        color: #45AC75;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        padding: 0;
        margin-right: auto;

    }
    .algosearch button{
        display: block;
        background: #111621;
        color: white;
        font-family: 'poppins';
        border: 2px solid #111621;
        padding: 6px 40px ;
        border-radius: 4px;
       margin-left: 10px;
        font-size: 16px;
    }
    .algogrid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .algoicon{
        order: 2;
        width: 50%;

    }
    .algoicon img{
        width: 17rem;
       
    }
    .algotext{
        font-family: Poppins;
        font-family: Poppins;
        font-size: 50px;
        padding: 0 40px 0 90px;
        font-weight: 700;
        line-height: 75px;
        letter-spacing: 0em;
        text-align: left;

        color: var(--text-color);
        order: 1;
        width: 50%;
    }
    .algobutton{
        background: #45AC75;
        color: white;
        border: 1px solid #45AC75;
        padding: 0px 0px;
        border-radius: 7px;
        font-family: Poppins;
        font-size: 19px;
        width: 350px;
        height: 60px;
        order: 3;
        align-self: baseline;
        margin-right: auto;
        margin-left: 90px;
    }
    .algocards{
        color: white;
        font-family: 'poppins';
        font-size: 18px;
        margin-bottom: 50px;
        order:4 ;
        justify-self: center;
       margin-top: -4rem;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        
    }
    .algocards p{
        margin-left: 4rem;
    }
    .algono{
        background-color: var(--card);
        width: 80px;
        padding: 20px 20px;
        border-radius: 14px;
        font-family:Roboto;
        font-size: 25px;
        color: white;
        margin:0px 0px 20px 80px;
        
    }
    nav li:first-child{
        margin-left: 80px;
    }
}